@use "tailwindcss";
@source "./public/*.{html,js}";
@plugin "daisyui"{
  themes: light --default, dark --preferdark;
}

body {
  background-color: #f2f2f2;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
}

p{
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #FF004B;
}

footer{
  background-color: #FEFFDD;
}

.music_player{
  background-color: #FEFFDD;
}

.btn_menu_aside{
  bottom: calc(var(--spacing) * 30);
}
