<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>

    {{ encore_entry_link_tags('tailwind') }}
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body class="w-screen h-screen">
{% block body %}{% endblock %}
</body>
</html>
