{% extends 'back/layout.html.twig' %}

{% block breadcrumb %}
    <div class="breadcrumbs text-sm">
        <ul>
            <li><a class="text-red-300">Home</a></li>
            <li><a>Documents</a></li>
            <li>Add Document</li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold no-underline text-lime-600">
        Hello world!
    </h1>
{% endblock %}
